* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary--color: #e37c73;
  --second--color: #a57f6c;
  --third--color: ;
}
.margin-main {
  margin: 0 auto;
  max-width: 1300px;
  width: 98%;
}
header {
  background-color: #e37c73;
  font-family: "Montserrat", sans-serif;

  .container-backgroud {
    background-image: url(../img/detalhes/riscos.svg),
      url(../img/detalhes/ondas.png), url(../img/background/Rectangle\ 176.png),
      url(../img/background/Rectangle\ 177.png);
    background-position: left center, bottom, right top, left bottom;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 10% 10%, 100% 40%, 30% 40%, 20% 50%;
    height: 100%;
    .top-header {
      padding-top: 20px;
      display: flex;
      align-items: center;
      gap: 100px;

      .logo {
        a {
          text-decoration: none;
          h1 {
            font-size: 36px;
            font-weight: 700;
            color: #ffffff;
          }
        }
      }
      .menu {
        width: 100%;
        nav {
          ul {
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            align-items: center;
            li {
              span {
                a {
                  font-weight: 800;
                }
              }
              a {
                text-decoration: none;
                color: white;
                font-size: 24px;
                font-weight: 400;
              }
              button {
                cursor: pointer;
                width: 123.65px;
                height: 49px;
                background-color: transparent;
                font-size: 16px;
                font-weight: 700;
                color: #ffffff;
                border: 1px solid #ffffff;
              }
            }
          }
        }
        .menu-mobile {
          display: none;
          button {
            cursor: pointer;
            background-color: transparent;
            border: 0;

            width: 30px;
            height: 30px;
            hr {
              margin-top: 2px;
              padding: 2px;
              background-color: white;
              border: none;
            }
          }
        }
      }
    }
    .main-header {
      padding-top: 20px;
      display: flex;

      justify-content: space-between;

      .text-left {
        padding-top: 60px;
        h1 {
          font-size: 63px;
          font-weight: 700;
          color: #ffffff;
        }
        p {
          color: #ffffff;
          font-size: 24px;
          font-weight: 400;
          line-height: 35px;
        }
        button {
          margin-top: 30px;
          cursor: pointer;
          width: 170px;
          height: 55px;
          font-size: 24px;
          font-weight: 700;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
          border: none;
          background-color: #ffffff;
        }
      }
      .woman {
        width: 650px;
        height: 100%;

        img {
          position: relative;
          &:nth-child(1) {
            float: right;
            width: 100px;
            z-index: 100;
          }
          &:nth-child(2) {
            position: relative;
            width: 100px;
            top: 480px;
            left: 70px;
            z-index: 100;
          }
          &:nth-child(3) {
            position: relative;
            z-index: 2;
            top: 20%;
            left: 27%;
            transform: translate(-20%, -10%);
            width: 550px;
            border-radius: 0 0 0 250px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  header {
    .container-backgroud {
      .main-header {
        .text-left {
          h1 {
            font-size: 58px;
          }
          p {
            font-size: 20px;
          }
        }
        .woman {
          width: 550px;
          img {
            &:nth-child(1) {
              width: 90px;
            }
            &:nth-child(2) {
              width: 90px;
              top: 410px;
              left: 65px;
            }
            &:nth-child(3) {
              width: 470px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  header {
    .container-backgroud {
      .top-header {
        display: flex;
        justify-content: space-between;

        .menu {
          width: 35px;
          nav {
            display: none;
          }
          .menu-mobile {
            display: block;
          }
        }
      }
      .main-header {
        flex-direction: column;
        align-items: center;
        .text-left {
          padding-top: 20px;
          width: 100%;
          text-align: center;
        }
        .woman {
          padding-top: 20px;
        }
      }
    }
  }
}
@media screen and (max-width: 610px) {
  header {
    .container-backgroud {
      .top-header {
        .logo {
          a {
            h1 {
              font-size: 28px;
            }
          }
        }
      }
      .main-header {
        .text-left {
          h1 {
            font-size: 48px;
          }
          p {
            font-size: 16px;
            line-height: 25px;
          }
        }
        .woman {
          width: 430px;
          img {
            &:nth-child(1) {
              width: 80px;
            }
            &:nth-child(2) {
              width: 80px;
              top: 330px;
              left: 40px;
            }
            &:nth-child(3) {
              width: 370px;
              border-radius: 0 0 0 200px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 466px) {
  header {
    .container-backgroud {
      .main-header {
        .text-left {
          h1 {
            font-size: 36px;
          }
          p {
            font-size: 14px;
          }
          button{
            scale: 0.8;

          }
        }
        .woman {
          width: 300px;
          img {
            &:nth-child(1) {
              width: 50px;
            }
            &:nth-child(2) {
              width: 50px;
              top: 230px;
              left: 30px;
            }
            &:nth-child(3) {
              width: 260px;
              border-radius: 0 0 0 120px;
            }
          }
        }
      }
    }
  }
}
