* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary--color: #e37c73;
  --second--color: #a57f6c;
  --third--color: ;
}

.margin-main {
  margin: 0 auto;
  max-width: 1300px;
  width: 98%;
}

header {
  background-color: #e37c73;
  font-family: "Montserrat", sans-serif;
}
header .container-backgroud {
  background-image: url(../img/detalhes/riscos.svg), url(../img/detalhes/ondas.png), url(../img/background/Rectangle\ 176.png), url(../img/background/Rectangle\ 177.png);
  background-position: left center, bottom, right top, left bottom;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 10% 10%, 100% 40%, 30% 40%, 20% 50%;
  height: 100%;
}
header .container-backgroud .top-header {
  padding-top: 20px;
  display: flex;
  align-items: center;
  gap: 100px;
}
header .container-backgroud .top-header .logo a {
  text-decoration: none;
}
header .container-backgroud .top-header .logo a h1 {
  font-size: 36px;
  font-weight: 700;
  color: #ffffff;
}
header .container-backgroud .top-header .menu {
  width: 100%;
}
header .container-backgroud .top-header .menu nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
}
header .container-backgroud .top-header .menu nav ul li span a {
  font-weight: 800;
}
header .container-backgroud .top-header .menu nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: 400;
}
header .container-backgroud .top-header .menu nav ul li button {
  cursor: pointer;
  width: 123.65px;
  height: 49px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  border: 1px solid #ffffff;
}
header .container-backgroud .top-header .menu .menu-mobile {
  display: none;
}
header .container-backgroud .top-header .menu .menu-mobile button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  width: 30px;
  height: 30px;
}
header .container-backgroud .top-header .menu .menu-mobile button hr {
  margin-top: 2px;
  padding: 2px;
  background-color: white;
  border: none;
}
header .container-backgroud .main-header {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
header .container-backgroud .main-header .text-left {
  padding-top: 60px;
}
header .container-backgroud .main-header .text-left h1 {
  font-size: 63px;
  font-weight: 700;
  color: #ffffff;
}
header .container-backgroud .main-header .text-left p {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
}
header .container-backgroud .main-header .text-left button {
  margin-top: 30px;
  cursor: pointer;
  width: 170px;
  height: 55px;
  font-size: 24px;
  font-weight: 700;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border: none;
  background-color: #ffffff;
}
header .container-backgroud .main-header .text-left button:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.2s;
}
header .container-backgroud .main-header .woman {
  width: 650px;
  height: 100%;
}
header .container-backgroud .main-header .woman img {
  position: relative;
}
header .container-backgroud .main-header .woman img:nth-child(1) {
  float: right;
  width: 100px;
  z-index: 100;
}
header .container-backgroud .main-header .woman img:nth-child(2) {
  position: relative;
  width: 100px;
  top: 480px;
  left: 70px;
  z-index: 100;
}
header .container-backgroud .main-header .woman img:nth-child(3) {
  position: relative;
  z-index: 2;
  top: 20%;
  left: 27%;
  transform: translate(-20%, -10%);
  width: 550px;
  border-radius: 0 0 0 250px;
}

@media screen and (max-width: 1200px) {
  header .container-backgroud .main-header .text-left h1 {
    font-size: 58px;
  }
  header .container-backgroud .main-header .text-left p {
    font-size: 20px;
  }
  header .container-backgroud .main-header .woman {
    width: 550px;
  }
  header .container-backgroud .main-header .woman img:nth-child(1) {
    width: 90px;
  }
  header .container-backgroud .main-header .woman img:nth-child(2) {
    width: 90px;
    top: 410px;
    left: 65px;
  }
  header .container-backgroud .main-header .woman img:nth-child(3) {
    width: 470px;
  }
}
@media screen and (max-width: 1000px) {
  header .container-backgroud .top-header {
    display: flex;
    justify-content: space-between;
  }
  header .container-backgroud .top-header .menu {
    width: 35px;
  }
  header .container-backgroud .top-header .menu nav {
    display: none;
  }
  header .container-backgroud .top-header .menu .menu-mobile {
    display: block;
  }
  header .container-backgroud .main-header {
    flex-direction: column;
    align-items: center;
  }
  header .container-backgroud .main-header .text-left {
    padding-top: 20px;
    width: 100%;
    text-align: center;
  }
  header .container-backgroud .main-header .woman {
    padding-top: 20px;
  }
}
@media screen and (max-width: 610px) {
  header .container-backgroud .top-header .logo a h1 {
    font-size: 28px;
  }
  header .container-backgroud .main-header .text-left h1 {
    font-size: 48px;
  }
  header .container-backgroud .main-header .text-left p {
    font-size: 16px;
    line-height: 25px;
  }
  header .container-backgroud .main-header .woman {
    width: 430px;
  }
  header .container-backgroud .main-header .woman img:nth-child(1) {
    width: 80px;
  }
  header .container-backgroud .main-header .woman img:nth-child(2) {
    width: 80px;
    top: 330px;
    left: 40px;
  }
  header .container-backgroud .main-header .woman img:nth-child(3) {
    width: 370px;
    border-radius: 0 0 0 200px;
  }
}
@media screen and (max-width: 466px) {
  header .container-backgroud .main-header .text-left h1 {
    font-size: 36px;
  }
  header .container-backgroud .main-header .text-left p {
    font-size: 14px;
  }
  header .container-backgroud .main-header .text-left button {
    scale: 0.8;
  }
  header .container-backgroud .main-header .woman {
    width: 300px;
  }
  header .container-backgroud .main-header .woman img:nth-child(1) {
    width: 50px;
  }
  header .container-backgroud .main-header .woman img:nth-child(2) {
    width: 50px;
    top: 230px;
    left: 30px;
  }
  header .container-backgroud .main-header .woman img:nth-child(3) {
    width: 260px;
    border-radius: 0 0 0 120px;
  }
}
main {
  font-family: "Montserrat", sans-serif;
}
main .top-main {
  padding-top: 40px;
}
main .top-main .text-bloc {
  text-align: center;
}
main .top-main .text-bloc h1 {
  font-size: 60px;
  font-weight: 700;
}
main .top-main .text-bloc p {
  font-size: 24px;
  font-weight: 400;
}
main .top-main .container-bloc {
  padding-top: 60px;
  padding-bottom: 50px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
main .top-main .container-bloc .bloc {
  margin-top: 25px;
  width: 400px;
  height: 450px;
  background-size: 100%;
  background-repeat: no-repeat;
}
main .top-main .container-bloc .bloc:nth-child(1) {
  background-image: url(../img/women/woman-bloc1.png);
}
main .top-main .container-bloc .bloc:nth-child(2) {
  background-image: url(../img/women/woman-bloc2.png);
}
main .top-main .container-bloc .bloc:nth-child(3) {
  background-image: url(../img/women/woman-bloc3.png);
}
main .top-main .container-bloc .bloc button {
  cursor: pointer;
  position: relative;
  top: 355px;
  width: 80%;
  height: 80px;
  font-weight: 700;
  font-size: 38px;
  background-color: #ffffff;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
main .top-main .container-bloc .bloc:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.2s;
}
main .top-main .container-layout {
  margin-top: 60px;
  padding: 30px;
  position: relative;
}
main .top-main .container-layout .layout-interno {
  display: flex;
}
main .top-main .container-layout .layout-interno .two-girl {
  text-align: center;
}
main .top-main .container-layout .layout-interno .two-girl img {
  height: 500px;
}
main .top-main .container-layout .layout-interno .text-layout {
  width: 450px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
main .top-main .container-layout .layout-interno .text-layout h1 {
  font-weight: 700;
  font-size: 60px;
}
main .top-main .container-layout .layout-interno .text-layout p {
  font-weight: 400;
  font-size: 24px;
}
main .top-main .container-layout .layout-externo {
  position: relative;
  top: -135px;
  left: 230px;
  width: 750px;
  display: flex;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
main .top-main .container-layout .layout-externo img {
  height: 70px;
}
main .top-main .container-layout .layout-externo .layout-externo-text {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .top-main .container-layout .layout-externo .layout-externo-text h1 {
  font-weight: 700;
  font-size: 60px;
}
main .background-seller {
  background-image: url(../img/detalhes/riscos.svg), url(../img/detalhes/ondas.png);
  background-repeat: no-repeat;
  background-position: -60px 350px, bottom;
  background-size: 12% 12%, 100% 40%;
  padding-top: 80px;
  background-color: var(--second--color);
  padding-bottom: 80px;
}
main .background-seller .best-seller {
  overflow-x: scroll;
  padding: 20px;
  display: flex;
  gap: 20px;
}
main .background-seller .best-seller .card-carro {
  flex: 0 0 auto;
  width: 350px;
  height: 400px;
}
main .background-seller .best-seller .card-carro h1 {
  padding-top: 20px;
  font-size: 55px;
  font-weight: 700;
  color: #ffffff;
}
main .background-seller .best-seller .card-carro p {
  padding-top: 30px;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}
main .background-seller .best-seller .card-carro button {
  cursor: pointer;
  margin-top: 50px;
  border: none;
  background-color: #ffffff;
  width: 170px;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
main .background-seller .best-seller .card-carro button:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.2s;
}
main .background-seller .best-seller .card-girl {
  flex: 0 0 auto;
  width: 350px;
  height: 400px;
}
main .background-seller .best-seller .card-girl .footer-card {
  position: relative;
  top: 300px;
  padding-top: 10px;
  padding-left: 20px;
  width: 100%;
  height: 100px;
  background-color: #ffffff;
}
main .background-seller .best-seller .card-girl .footer-card .stars img {
  width: 20px;
}
main .background-seller .best-seller .card-girl .footer-card h4 {
  font-weight: 700;
  font-size: 18px;
}
main .background-seller .best-seller .card-girl .footer-card p {
  font-size: 18px;
}
main .background-seller .best-seller .card-girl .footer-card p span {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.231372549);
}
main .background-seller .best-seller .card-girl:nth-child(2) {
  background-image: url(../img/women/carroselwoman1.png);
  background-size: 100%;
}
main .background-seller .best-seller .card-girl:nth-child(3) {
  background-image: url(../img/women/carroselwoman2.png);
  background-size: 100%;
}
main .background-seller .best-seller .card-girl:nth-child(4) {
  background-image: url(../img/women/carroselwoman3.png);
}
main .background-seller .best-seller .card-girl:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.2s;
}
main .ourproduct {
  text-align: center;
  padding-bottom: 100px;
}
main .ourproduct .header-product {
  padding-top: 50px;
}
main .ourproduct .header-product h1 {
  font-size: 60px;
  font-weight: 700;
}
main .ourproduct .header-product .menu-product {
  width: 100%;
  padding-top: 30px;
}
main .ourproduct .header-product .menu-product nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  justify-content: space-evenly;
  gap: 20px;
}
main .ourproduct .header-product .menu-product nav ul li {
  white-space: nowrap;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
}
main .ourproduct .container-product {
  display: flex;
  flex-wrap: wrap;
  padding-top: 90px;
  justify-content: space-around;
  gap: 10px;
}
main .ourproduct .container-product .bloc-product {
  margin-top: 30px;
  width: 300px;
  height: 373px;
  background-size: 100%;
}
main .ourproduct .container-product .bloc-product:nth-child(1) {
  background-image: url(../img/our-pro/perfume.png);
}
main .ourproduct .container-product .bloc-product:nth-child(2) {
  background-image: url(../img/our-pro/Bags.png);
}
main .ourproduct .container-product .bloc-product:nth-child(3) {
  background-image: url(../img/our-pro/lipsticks.png);
}
main .ourproduct .container-product .bloc-product:nth-child(4) {
  background-image: url(../img/our-pro/watches.png);
}
main .ourproduct .container-product .bloc-product:nth-child(5) {
  background-image: url(../img/our-pro/brushes.png);
}
main .ourproduct .container-product .bloc-product:nth-child(6) {
  background-image: url(../img/our-pro/sunglasses.png);
}
main .ourproduct .container-product .bloc-product:nth-child(7) {
  background-image: url(../img/our-pro/footwear.png);
}
main .ourproduct .container-product .bloc-product:nth-child(8) {
  background-image: url(../img/our-pro/jewellery.png);
}
main .ourproduct .container-product .bloc-product:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.2s;
}
main .ourproduct .container-product .bloc-product .footer-card {
  padding: 15px;
  background-color: #ffffff;
  position: relative;
  top: 274px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: left;
}
main .ourproduct .container-product .bloc-product .footer-card .stars img {
  width: 22px;
}
main .ourproduct .container-product .bloc-product .footer-card h4 {
  font-size: 18px;
}
main .ourproduct .container-product .bloc-product .footer-card p {
  font-size: 18px;
}
main .ourproduct .container-product .bloc-product .footer-card p span {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.231372549);
}

@media screen and (max-width: 1025px) {
  main .top-main .container-layout {
    padding: 0;
  }
  main .top-main .container-layout .layout-interno {
    flex-direction: column-reverse;
  }
  main .top-main .container-layout .layout-interno .two-girl {
    padding-top: 40px;
  }
  main .top-main .container-layout .layout-interno .two-girl img {
    height: 450px;
  }
  main .top-main .container-layout .layout-interno .text-layout {
    width: 100%;
    text-align: center;
  }
  main .top-main .container-layout .layout-interno .text-layout p {
    padding: 20px;
  }
  main .top-main .container-layout .layout-externo {
    margin: 0 auto;
    text-align: center;
    width: 500px;
    left: 0;
    top: -88px;
  }
  main .top-main .container-layout .layout-externo img {
    height: 40px;
  }
  main .top-main .container-layout .layout-externo .layout-externo-text {
    padding: 10px;
  }
  main .top-main .container-layout .layout-externo .layout-externo-text h1 {
    font-size: 40px;
  }
  main .top-main .container-layout .layout-externo .layout-externo-text h4 {
    font-size: 12px;
  }
}
@media screen and (max-width: 770px) {
  main .ourproduct .header-product .menu-product nav ul {
    flex-direction: column;
  }
  main .ourproduct .header-product .ourproduct .container-product {
    padding-top: 50px;
  }
}
@media screen and (max-width: 633px) {
  main .top-main .text-bloc h1 {
    font-size: 40px;
  }
  main .top-main .text-bloc p {
    font-size: 16px;
  }
  main .top-main .container-bloc {
    padding-top: 0;
  }
  main .top-main .container-bloc .bloc {
    width: 310px;
    height: 350px;
  }
  main .top-main .container-bloc .bloc button {
    scale: 0.8;
    top: 260px;
  }
  main .top-main .container-layout {
    padding: 0;
  }
  main .top-main .container-layout .layout-interno .two-girl img {
    height: 330px;
  }
  main .top-main .container-layout .layout-interno .text-layout h1 {
    font-size: 40px;
  }
  main .top-main .container-layout .layout-interno .text-layout p {
    font-size: 16px;
  }
  main .top-main .container-layout .layout-externo {
    width: 310px;
    top: -50px;
  }
  main .top-main .container-layout .layout-externo img {
    height: 30px;
  }
  main .top-main .container-layout .layout-externo .layout-externo-text {
    padding: 5px;
  }
  main .top-main .container-layout .layout-externo .layout-externo-text h1 {
    font-size: 20px;
  }
  main .top-main .container-layout .layout-externo .layout-externo-text h4 {
    font-size: 10px;
  }
  main .background-seller {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  main .background-seller .best-seller {
    gap: 10px;
  }
  main .background-seller .best-seller .card-carro {
    scale: 0.9;
  }
  main .background-seller .best-seller .card-girl {
    scale: 0.9;
  }
  main .ourproduct .header-product h1 {
    font-size: 40px;
  }
  main .ourproduct .header-product .menu-product nav ul li {
    font-size: 16px;
  }
  main .ourproduct .container-product {
    padding-top: 20px;
  }
  main .ourproduct .container-product .bloc-product {
    margin-top: 0px;
    scale: 0.9;
  }
}
footer {
  font-family: "Montserrat", sans-serif;
}
footer .background-deal {
  background-color: var(--primary--color);
  background-image: url(../img/background/Rectangle\ 176.png), url(../img/background/Rectangle\ 177.png);
  background-repeat: no-repeat;
  background-position: right top, left bottom;
  background-size: 30% 40%, 20% 50%;
}
footer .background-deal .deal-of-the-day {
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .background-deal .deal-of-the-day .text-deal h1 {
  font-size: 60px;
  color: #ffffff;
  font-weight: 700;
}
footer .background-deal .deal-of-the-day .text-deal p {
  padding-top: 30px;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}
footer .background-deal .deal-of-the-day .text-deal .hora {
  padding-top: 40px;
  display: flex;
  gap: 20px;
}
footer .background-deal .deal-of-the-day .text-deal .hora .hora-bloc {
  width: 135px;
  height: 130px;
  background-color: #ffffff;
  text-align: center;
}
footer .background-deal .deal-of-the-day .text-deal .hora .hora-bloc h3 {
  padding-top: 36px;
  font-size: 30px;
}
footer .background-deal .deal-of-the-day .text-deal .hora .hora-bloc p {
  padding-top: 0;
  color: black;
  font-size: 15px;
}
footer .background-deal .deal-of-the-day .text-deal button {
  margin-top: 40px;
  cursor: pointer;
  width: 170px;
  height: 55px;
  font-size: 24px;
  font-weight: 700;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border: none;
  background-color: black;
  color: #ffffff;
}
footer .background-deal .deal-of-the-day .text-deal button:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.2s;
}
footer .background-deal .deal-of-the-day .woman-deal {
  width: 550px;
  height: 100%;
}
footer .background-deal .deal-of-the-day .woman-deal img {
  position: relative;
}
footer .background-deal .deal-of-the-day .woman-deal img:nth-child(1) {
  position: relative;
  left: 470px;
  top: 100px;
  width: 100px;
  z-index: 100;
}
footer .background-deal .deal-of-the-day .woman-deal img:nth-child(2) {
  position: relative;
  width: 100px;
  top: 560px;
  left: -110px;
  z-index: 100;
}
footer .background-deal .deal-of-the-day .woman-deal img:nth-child(3) {
  position: relative;
  z-index: 2;
  top: -40px;
  left: 60px;
  width: 450px;
}
footer .background-final {
  background-color: var(--second--color);
}
footer .background-final .footer-final {
  display: flex;
  gap: 100px;
}
footer .background-final .footer-final .woman-final {
  position: relative;
  top: -50px;
}
footer .background-final .footer-final .woman-final img {
  width: 450px;
}
footer .background-final .footer-final .final-text {
  width: 100%;
  padding-top: 40px;
}
footer .background-final .footer-final .final-text form {
  border: 1px solid #ffffff;
  border-radius: 60px;
  height: 70px;
  display: flex;
  align-items: center;
  width: 100%;
}
footer .background-final .footer-final .final-text form input {
  height: 70px;
  background-color: transparent;
  border: 60px;
  width: 100%;
  padding-left: 20px;
}
footer .background-final .footer-final .final-text form input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
  font-size: 18px;
  color: #ffffff;
}
footer .background-final .footer-final .final-text form input::-moz-placeholder {
  font-size: 18px;
  color: #ffffff;
}
footer .background-final .footer-final .final-text form input::placeholder {
  font-size: 18px;
  color: #ffffff;
}
footer .background-final .footer-final .final-text form button {
  cursor: pointer;
  border: none;
  background-color: #d9d9d9;
  height: 70px;
  border-radius: 60px;
  width: 600px;
  font-size: 20px;
  font-weight: 600;
}
footer .background-final .footer-final .final-text p {
  padding-top: 20px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
}
footer .background-final .footer-final .final-text .footer-outros {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
footer .background-final .footer-final .final-text .footer-outros .bloc-outros h4 {
  color: #ffffff;
  font-weight: 800;
  font-size: 20px;
}
footer .background-final .footer-final .final-text .footer-outros .bloc-outros a {
  text-decoration: none;
}
footer .background-final .footer-final .final-text .footer-outros .bloc-outros a p {
  font-size: 20px;
}
footer .background-final .footer-final .final-text hr {
  margin-top: 20px;
  width: 100%;
}
footer .background-final .footer-final .final-text .barra-final {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .background-final .footer-final .final-text .barra-final .rede-social {
  padding-right: 10px;
  padding-top: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}
footer .background-final .footer-final .final-text .barra-final .rede-social a {
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  footer .background-deal .deal-of-the-day .text-deal h1 {
    font-size: 52px;
  }
  footer .background-deal .deal-of-the-day .text-deal p {
    font-size: 18px;
  }
  footer .background-deal .deal-of-the-day .text-deal .hora {
    justify-content: space-around;
  }
  footer .background-deal .deal-of-the-day .text-deal .hora .hora-bloc {
    width: 120px;
    height: 115px;
  }
  footer .background-deal .deal-of-the-day .text-deal .hora .hora-bloc h3 {
    padding-top: 25px;
  }
  footer .background-final .footer-final {
    gap: 50px;
  }
  footer .background-final .footer-final .final-text form button {
    width: 350px;
  }
}
@media screen and (max-width: 1000px) {
  footer .background-deal {
    padding-bottom: 50px;
  }
  footer .background-deal .deal-of-the-day {
    flex-direction: column;
  }
  footer .background-deal .deal-of-the-day .text-deal {
    padding-top: 20px;
    text-align: center;
  }
  footer .background-deal .deal-of-the-day .text-deal h1 {
    padding-top: 30px;
  }
  footer .background-deal .deal-of-the-day .text-deal p {
    padding-top: 40px;
  }
  footer .background-deal .deal-of-the-day .text-deal .hora {
    padding-top: 40px;
  }
  footer .background-deal .deal-of-the-day .text-deal button {
    margin-top: 50px;
  }
  footer .background-final {
    padding-bottom: 20px;
  }
  footer .background-final .footer-final {
    flex-direction: column;
    gap: 10px;
  }
  footer .background-final .footer-final .woman-final {
    text-align: center;
    left: 12px;
  }
  footer .background-final .footer-final .final-text form {
    margin-bottom: 20px;
  }
  footer .background-final .footer-final .final-text p {
    text-align: center;
  }
  footer .background-final .footer-final .final-text h4 {
    text-align: center;
  }
  footer .background-final .footer-final .final-text .footer-outros {
    margin-top: 20px;
  }
}
@media screen and (max-width: 640px) {
  footer .background-deal .deal-of-the-day .text-deal h1 {
    font-size: 40px;
  }
  footer .background-deal .deal-of-the-day .text-deal p {
    font-size: 16px;
  }
  footer .background-deal .deal-of-the-day .text-deal .hora .hora-bloc {
    width: 100px;
    height: 95px;
  }
  footer .background-deal .deal-of-the-day .text-deal .hora .hora-bloc h3 {
    padding-top: 20px;
  }
  footer .background-deal .deal-of-the-day .text-deal button {
    scale: 0.9;
  }
  footer .background-deal .deal-of-the-day .woman-deal {
    width: 400px;
    height: 100%;
  }
  footer .background-deal .deal-of-the-day .woman-deal img {
    position: relative;
  }
  footer .background-deal .deal-of-the-day .woman-deal img:nth-child(1) {
    position: relative;
    left: 350px;
    top: 60px;
    width: 80px;
    z-index: 100;
  }
  footer .background-deal .deal-of-the-day .woman-deal img:nth-child(2) {
    position: relative;
    width: 80px;
    top: 430px;
    left: -100px;
    z-index: 100;
  }
  footer .background-deal .deal-of-the-day .woman-deal img:nth-child(3) {
    position: relative;
    z-index: 2;
    top: -40px;
    left: 35px;
    width: 350px;
  }
  footer .background-final .footer-final {
    gap: 0px;
  }
  footer .background-final .footer-final .woman-final img {
    width: 350px;
  }
  footer .background-final .footer-final .final-text form {
    scale: 0.9;
  }
  footer .background-final .footer-final .final-text p {
    font-size: 16px;
  }
  footer .background-final .footer-final .final-text .footer-outros p {
    font-size: 16px;
  }
  footer .background-final .footer-final .final-text .footer-outros h4 {
    font-size: 16px;
  }
}
@media screen and (max-width: 490px) {
  footer .background-deal .deal-of-the-day .woman-deal {
    width: 290px;
    height: 100%;
  }
  footer .background-deal .deal-of-the-day .woman-deal img {
    position: relative;
  }
  footer .background-deal .deal-of-the-day .woman-deal img:nth-child(1) {
    position: relative;
    left: 250px;
    top: 40px;
    width: 60px;
    z-index: 100;
  }
  footer .background-deal .deal-of-the-day .woman-deal img:nth-child(2) {
    position: relative;
    width: 60px;
    top: 325px;
    left: -90px;
    z-index: 100;
  }
  footer .background-deal .deal-of-the-day .woman-deal img:nth-child(3) {
    position: relative;
    z-index: 2;
    top: -40px;
    left: 5px;
    width: 270px;
  }
  footer .background-final .footer-final .woman-final {
    left: -5px;
  }
  footer .background-final .footer-final .woman-final img {
    width: 270px;
  }
  footer .background-final .footer-final .final-text .footer-outros {
    flex-direction: column;
  }
  footer .background-final .footer-final .final-text .footer-outros .bloc-outros {
    padding-top: 30px;
  }
}/*# sourceMappingURL=style.css.map */